@media (max-width: 1220px) {
	.content .showcase .right .paragraph > * {
		font-size: 1.25rem;
	}
}

@media (max-width: 1044px) {
	.content .showcase {
		flex-direction: column;
		padding-bottom: 160px;
	}
	.content .showcase .right {
		margin: 0;
	}
	.content .showcase .right h2 {
		margin: 35px auto 25px;
		text-align: center;
		font-size: 4rem;
		max-width: 400px;
	}
	.content .showcase .right .paragraph > * {
		text-align: center;
		margin: 0 auto 20px;
	}
	.content .showcase .right .works {
		margin: auto;
	}
	.mail_reg .container {
		max-width: 332.5px;
		padding: 25px 32.5px;
	}
	.mail_reg .container .text {
		margin-bottom: 30px;
	}
	.mail_reg .container .text h2 {
		font-size: 1.75rem;
	}
	.mail_reg .container .text p {
		line-height: 20px;
		font-size: 1.35rem;
	}
	.mail_reg .container form {
		grid-template-areas:
			'input input input'
			'btn btn btn'
			'er er er';
		gap: 22.5px;
		margin-bottom: -25px;
	}
	.mail_reg .container form input {
		padding: 15px 27.5px;
	}
	.mail_reg .container form .error {
		grid-area: er;
		position: relative;
		top: -90px;
		padding: 0;
		text-align: center;
	}
	.footer {
		padding-top: 250px;
	}
}

@media (max-width: 760px) {
	.content .intro img {
		width: 75%;
	}
	.content .intro h1 {
		font-size: 2.5rem;
		max-width: 80%;
	}
	.content .intro p {
		font-size: 1.5rem;
		width: 80%;
	}
	.content .showcase img {
		width: 75%;
	}
}

@media (max-width: 675px) {
	.header {
		padding: 25px 10px 50px 25px;
	}
	.header .nav {
		font-size: 1rem;
		gap: 0;
	}
	.header .nav li {
		width: 60px;
	}
	.header a > img {
		padding-top: 2.25px;
		width: 67.5px;
	}
	.content .advantages {
		padding: 0 20px 190px;
	}
	.content .showcase .right .paragraph > * {
		max-width: 80%;
	}
	.footer .address {
		width: 155%;
	}
}

@media (min-width: 376px) and (max-width: 1300px) {
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	.footer > img {
		margin: 0;
	}

	.footer .address {
		flex-direction: column;
		align-items: center;
		margin: 0;
		max-width: 375px;
		text-align: center;
		gap: 25px;
	}
	.footer .address img {
		margin: 0;
	}
	.footer nav {
		flex-direction: column;
		gap: 25px;
	}
	.footer nav ul {
		align-items: center;
		width: 175px;
	}
	.footer nav ul li .btp {
		width: auto;
	}
	.footer .contact .container {
		gap: 25px;
	}
	.footer .contact .container > div {
		flex-direction: column;
	}
}

@media (max-width: 375px) {
	.content .intro {
		background: url(../images/bg-curvy-desktop.svg) center 45% no-repeat;
		background-size: contain;
		padding-bottom: 0;
		margin-bottom: -222.5px;
	}
	.content .intro img {
		width: 300px;
	}
	.content .intro h1 {
		font-size: 2.25rem;
		width: 350px;
		margin: 35px 0 25px;
	}
	.content .intro p {
		font-size: 1.25rem;
		width: 315px;
		margin-bottom: 32.5px;
	}
	.content .intro button {
		font-size: 1.25rem;
		padding: 15px 87.5px;
	}
	.content .advantages {
		padding: 375px 37.5px 190px;
	}
	.content .advantages div > p {
		font-size: 1.25rem;
	}
	.content .showcase img {
		width: 300px;
	}
	.content .showcase .right {
		margin: 0 20px 20px;
	}
	.content .showcase .right h2 {
		font-size: 1.85rem;
		margin-top: 50px;
	}
	.content .showcase .right .paragraph > * {
		font-size: 1.4rem;
		margin: 0 0 20px;
	}
	.content .showcase .right .works {
		font-size: 1.175rem;
	}
	.content .showcase .right .works svg {
		top: 1.075px;
	}
	.content .recommendations {
		padding-bottom: 325px;
	}
	.content .recommendations .container {
		flex: 1 0 275px;
	}
	.content .recommendations .container > img {
		width: 25px;
		top: -17.5px;
		left: 5px;
	}
	.content .recommendations .container .card {
		padding: 25px 17.5px 25px;
	}
	.content .recommendations .container .card p {
		font-size: 0.85rem;
		text-align: left;
		line-height: 20px;
	}
	.content .recommendations .container .card .person {
		margin-top: 15px;
	}

	.footer {
		padding: 200px 0 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer > * {
		padding-left: 20px;
	}
	.footer > *:last-child {
		padding-left: 0;
		margin-bottom: 50px;
	}
	.footer > img {
		margin: 35px 0 50px 10px;
	}
	.footer .address {
		margin: 0 20px 17.5px 0;
		font-size: 1.575rem;
	}
	.footer .contact .container img {
		width: 15px;
	}
	.footer nav {
		margin: 75px 0 100px 0;
		flex-direction: column;
		gap: 45px;
	}
	.footer nav ul {
		row-gap: 20px;
	}
	.footer .social {
		align-self: center;
	}
}
